# Robinhood Chain RPC + explorer (replace with production endpoints)
NEXT_PUBLIC_RH_RPC_URL=https://rpc.robinhoodchain.example
NEXT_PUBLIC_RH_EXPLORER_URL=https://explorer.robinhoodchain.example

# WalletConnect Cloud project ID (required by RainbowKit)
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=46f26d8e63eb8c8ce9795b70dc681ade
